body {
  font-family: century gothic;
  font-style: oblique;
}
.hello {
  padding: 80px; /* немного отступов */
  text-align: center; /* текст по центру */
  background: #ab0f0fd6; /* красный фон */
  color: white; /* белый цвет текста */
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffffd6;
  display: block;
}

.sidenav a:hover {
  color: #ab0f0fd6;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: white;
}
img {
  height: 40%;
  width: 375px;
  border: 2px solid #ab0f0fd6;
}
table {
  font-family: century gothic;
  font-style: oblique;
  border-collapse: collapse;
  color: white;
  width: 100%;
  text-align: center;
}
td {
  background-color: #111;
}
td, th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #ffffffd6;
}
.centered-img {
  display: block;
  margin: auto;
  width: 40%;
  height: 40%;
}